# Dependencies
node_modules/
**/node_modules/

# Environment Variables
.env
backend/.env
*.env

# Production Build Output
frontend/dist/
dist/

# OS & Editor Files
.DS_Store
Thumbs.db
*.log
.vscode/
.idea/
